#root {
  inline-size: 100%;
  max-inline-size: 800px;
}
.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1 {
  font-family: system-ui, sans-serif;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.mole-img {
  cursor: pointer;
}
.moles-container {
  inline-size: 100%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 100px));
  justify-content: center;
  gap: 4rem;
}
.score-container {
  font-size: 2rem;
  max-inline-size: min-content;
  margin-inline: auto;
  padding-block: 1rem;
}